{% extends 'base.html' %}

{% block title %}
Add User
{% endblock title %}

{% block content %}
<h1 class="text-center">Add New User</h1>

<div class="container justify-content-center " style="width: fit-content" >
    <form method="post" actions="adduser">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">First Name</label>
            <input type="text" name="first_name" class="form-control"  required='required'>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input type="text" name="last_name" class="form-control"  required='required'>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">User Name</label>
            <input type="text" name="username" class="form-control"  required='required'>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" required='required'>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter your password</label>
            <input type="password" name="password1" class="form-control"  required='required'>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm your password</label>
            <input type="password" name="password2" class="form-control"  required='required'>
        </div>
        <input type="submit" name="adduser"> 
    </form>
</div>
<br>
<div class=" text-center">
    {% for message in messages %}
    <h4> {{message}}</h4>
    
    {% endfor %}
</div>



{% endblock content %}